<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd Test</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
        <aside>
            <form>
                <h1>Quantity</h1>
                <input type="number" placeholder="Type here" id="quantity">
            </form>
        </aside>
        <main>
            <ul id="itemsList"></ul>
        </main>
    </div>
    <script src="js/script.js"></script>
</body>
</html>